

<h1>Hi, <%= session[:name]%></h1>
  <%=link_to "Secret Page", secret_path %><br><br>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
  <% end %>
